@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.flex{
    display: flex;
    background:#000033;
    height:104vh;
    clip-path:polygon(0% 0%,100% 0%,100% 95%, 90% 100%,0% 85%);
}
.content{
    width: 50%;
    padding-left: 9vw;
    padding-top: 15vh;
    color: whitesmoke;
 
}
.content h2{
    font-weight: 900;
    line-height: 50px;
    font-size: 40px;
    font-family: 'Noto Sans', sans-serif;
    
}
.content p{
    margin-top: 40px;
    width:27vw;
    font-family: 'Noto Sans', sans-serif;
    font-size:17px;
    line-height:28px;
    color: rgb(0, 204, 255);
}
 .pic{
    padding-top:10vh ;
}
.sign{
    background:rgb(3, 130, 161) ;
    border-radius: 5px;
    margin-left: -0.1vw;
    width:8rem;
    font-weight: 600;
    color: whitesmoke;
    height: 3rem;
}
@media(max-width:772px){
    .flex{
        display: flex;
        flex-direction: column;
        height:200vh;
        clip-path:polygon(0% 0%,100% 0%,100% 95%, 90% 100%,0% 95%);
        
    }
    .content{
        width: 100%;
        padding-top: 8vh;
    }
    .content h2{
        line-height: 40px;
        font-size: 30px;
    }
    .content p{
        width: 100%;
    }
    .pic{
        width: 100%;

    }
}